@import "Navbar.scss";
@import "Config.scss";
@import "Mixins.scss";
@import "Button.scss";
@import "Hero.scss";

html,
body,
#root,
.content {
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  position: relative;
  width: 100vw;
}
