@import "Navbar.scss";
@import "Config.scss";
@import "Mixins.scss";
@import "Button.scss";
@import "Hero.scss";
@import "Services.scss";
@import "AboutUs.scss";
@import "Contact.scss";

html,
body,
#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  position: relative;
  overflow-x: hidden;
}

.content {
  height: 100vh;
  margin-bottom: 100px;
}

.gradient-line {
  position: relative;
  border: none;
  height: 2px;
  width: 80%;
  background-image: linear-gradient(200deg, #08b6f9, #6c56ef, #aa0eb2, #1306dd);
}

.gradient-line::before {
  content: "";
  position: absolute;

  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-image: inherit;
}

@media only screen and (min-width: 1024px) {
  .content {
    margin: 0;
  }
}
