@import "navbar.scss";
@import "config.scss";
@import "mixins.scss";
@import "textContentDiv.scss";
@import "button.scss";

html,
body,
#root,
.content {
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  position: relative;
}
