@import "Navbar.scss";
@import "Config.scss";
@import "Mixins.scss";
@import "Button.scss";
@import "Hero.scss";
@import "Services.scss";
@import "AboutUs.scss";

html,
body,
#root,
.content {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  position: relative;
  max-width: 100vw;
}
