//colours

$primary-color: #0e1129;
$secondary-color: #6a6aa3;
$tertiary-color: #ffffff;

//fonts and headings
$font-main: 16px "Spline Sans", sans-serif;
$font-header: 70px "Splines Sans Mono", sans-serif;
