//colours

$primary-color: rgba(14, 18, 42);
$secondary-color: #6a6aa3;
$tertiary-color: #ffffff;
$accent-color: #003dc7;

//fonts and headings
$font-main: "Spline Sans", sans-serif;
$font-header: "Spline Sans Mono", sans-serif;
