@import "Config";

.content {
  overflow-y: hidden;
  height: 100vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;
  margin: 0 0 40px 20px;
  padding-top: 95px;

  .hero-text-header {
    font-family: $font-header;
    font-size: 48px;
    color: $tertiary-color;
    text-align: left;
    padding: 0;
    margin-bottom: 25px;

    .title-gradient {
      background-image: linear-gradient(
        200deg,
        #08b6f9,
        #6c56ef,
        #aa0eb2,
        #1306dd
      );

      background-clip: text;

      color: transparent;
    }
  }

  .hero-text-content {
    font-family: $font-main;
    font-size: 18px;
    color: $tertiary-color;
    text-align: left;
    width: 80%;
    padding: 0;
    margin: 0 0 28px 0;
  }
}

@media only screen and (min-width: 375px) {
  .container {
    padding-top: 50px;
    .hero {
      padding: 20px;
    }
  }
}

@media only screen and (min-width: 425px) {
  .container {
    .hero {
      gap: 40px;
      .hero-text-header {
        font-size: 46px;
      }
      .hero-text-content {
        font-size: 19px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    width: 80%;
    padding: 0;
    gap: 75px;
    margin: 100px auto 50px;

    .hero-text-header {
      width: 100%;
      font-family: $font-header;
      font-size: 60px;
      line-height: 55px;
      text-align: left;
    }

    .hero-text-content {
      width: 100%;
      font-size: 23px;
      text-align: left;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    display: flex;
    flex-direction: column;

    .hero-text-header {
      width: 80%;
      font-size: 50px;
      line-height: 50px;
    }

    .hero-text-content {
      width: 90%;
    }
  }

  // .spline {
  //   display: block;
  //   height: 850px !important;
  //   transform: scale(0.6) translateX(368px) translateY(68px);
  //   right: 0;
  // }
}

@media only screen and (min-width: 1440px) {
  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    margin: 0 auto 50px;

    .hero-text-header {
      width: 90%;
      font-size: 80px;
      line-height: 80px;
    }

    .hero-text-content {
      width: 60%;
      font-size: 22px;
      text-align: right;
      padding-top: 25px;
    }

    // .spline {
    //   display: block;

    //   transform: scale(0.8) translateX(368px) translateY(51px);
    //   right: 0;
    // }
  }
}

@media only screen and (min-width: 1800px) {
  .hero {
    gap: 50px;
    padding-top: 200px;

    .hero-text-header {
      width: 100%;
      font-size: 95px;
      line-height: 95px;
    }

    .hero-text-content {
      width: 80%;
      font-size: 33px;
    }
  }

  // .spline {
  //   display: block;

  //   transform: scale(1) translateX(463px) translateY(51px);
  //   right: 0;
  // }
}
