@mixin section-header {
  position: relative;
  font-family: $font-header;
  color: $tertiary-color;
  font-size: 2em;

  @media only screen and (min-width: 1024px) {
    font-size: 4em;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 5%;
    width: 90%;
    height: 2px;
    background-color: $tertiary-color;
  }
}

@mixin reset {
  margin: 0;
  padding: 0;
}
