@import "config";
@import "mixins";

.navbar {
  height: 70px;
  width: 100vw;
  position: fixed;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}

.navbar-links {
  width: 100%;
  display: none;
  background-color: $primary-color;
}

.visible {
  display: flex;
  flex-direction: column;
  z-index: 100;
}

ul.sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding-top: 20px;
  list-style: none;
  padding-inline-start: 0;

  a.menu-item {
    text-decoration: none;
    font: $font-main;
    color: $tertiary-color;
    padding: 8px 20px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0);
  }
}

div.mobileitems {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.5rem;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 25px;
  padding-right: 30px;
}

.burger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: $tertiary-color;
  border-radius: 5px;
}

.burger-icon {
  display: block;
  width: 40px;
  height: 25px;
  position: relative;
  transition: transform 0.3s ease-in-out;
  padding-top: 6px;
}

.burger-icon span:first-child {
  top: 0;
}

.burger-icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger-icon span:last-child {
  bottom: 0;
}

.burger-icon.open span:first-child {
  transform: rotate(45deg) translate(2px, 2px);
}

.burger-icon.open span:nth-child(2) {
  opacity: 0;
}

.burger-icon.open span:last-child {
  transform: rotate(-45deg) translate(3px, -3px);
}

@media only screen and (min-width: 768px) {
  div.mobileitems {
    display: none;
  }

  .burger {
    display: none;
  }

  .navbar-links {
    display: block;
  }
  .navbar {
    height: 80px;

    ul.sections {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 35px;
      padding: 0;
      margin: 50px 0 0 80px;
      list-style: none;

      a.menu-item {
        text-decoration: none;
        font: $font-main;
        color: $tertiary-color;
        padding: 8px 20px;
        border-radius: 14px;
        border: 1px solid rgba(255, 255, 255, 0);
        transition: 1s;

        &:hover,
        &.hovered {
          border: 1.5px solid rgba(255, 255, 255, 0.4);
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {
    height: 90px;

    ul.sections {
      gap: 45px;
      margin-left: 100px;
    }
  }
}
